// Variables
$font-family: "Mulish", sans-serif;
$base-color: #9fa2b4;
$hover-color: #007bff;
$light-hover-bg: rgba(159, 162, 180, 0.2);
$bold-font-weight: bold;
$base-font-size: 14px;
$small-font-size: 12px;
$large-font-size: 19px;
$number-font-size: 40px;

// General styles
body {
  font-family: $font-family;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 0.2px;
}

// font weight and size
.section-title,
.card-title,
.sidebar-header {
  font-weight: $bold-font-weight;
  font-size: $large-font-size;
}

.card-title {
  color: $base-color;

  &.card-title-chart {
    font-weight: 600;
  }
}

.nav-link,
.card-title-chart {
  color: $base-color;
  font-size: 16px;
}

// change color after hover
.nav-item .nav-link{
  &:hover {
    font-weight: $bold-font-weight;
    color: #ffffff;
    background-color: $light-hover-bg;
    border-left: 3px solid #ffffff;
  }
}

.card-small {
  &:hover {
    .card-title,
    h3 {
      color: $hover-color;
      cursor: pointer;
      border-color: $hover-color;
    }
  }
}

.card {
  &:hover {
    border-color: $hover-color;
  }
}

// icons on top
.btn {
  color: $base-color;

  &:hover {
    scale: 1.2;
    color: $hover-color;
  }
}

a {
  text-decoration: none;
}

// more font weight and size
.numbers {
  font-weight: $bold-font-weight;
  font-size: $number-font-size;
}

.small-text {
  font-size: $small-font-size;
}

.list-group-item,
.user,
.small-link {
  font-weight: 600;
  font-size: $base-font-size;
}

button {
  border: none;
}

.badge {
  font-weight: $bold-font-weight;
  font-size: 11px;
}
